<div #mapContainer id="map" style="height: 400px; width: 100%; margin-bottom: 20px;"></div>

<div *ngIf="mostrarFormulario">
  <h1>ADICIONAR LOCAL ACESSÍVEL</h1>
  <h3>Compartilhe informações sobre acessibilidade de um local</h3>

  <form [formGroup]="form" (ngSubmit)="salvarLocal()">
    <label class="form-label">Nome do local:</label>
    <input type="text" formControlName="nomeLocal" class="form-control">

    <label class="form-label">Categoria:</label>
    <select formControlName="categoria" class="form-control">
      <option value="" disabled selected>Selecione uma categoria</option>
      <option *ngFor="let categoria of categorias" [value]="categoria">{{ categoria }}</option>
    </select>

    <label class="form-label">Limitações de acessibilidade:</label>
    <select formControlName="limitacoes" class="form-control">
      <option value="" disabled selected>Selecione uma limitação</option>
      <option *ngFor="let item of limitacoes" [value]="item">{{ item }}</option>
    </select>

    <button type="submit" class="btn btn-primary mt-3">Salvar</button>
  </form>
</div>

<hr>

<h2>Locais Cadastrados</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome do local</th>
      <th>Categoria</th>
      <th>Limitações de acessibilidade</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let local of locaisCadastrados">
      <td>{{ local.nomeLocal }}</td>
      <td>{{ local.categoria }}</td>
      <td>{{ local.limitacoes }}</td>
    </tr>
  </tbody>
</table>
